body {
  background: #000;
  color: #FFF;
  font-weight: 300;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 15px;
  text-align: left;
  color: 
}

footer {
  color:#aaa;
}

footer .data{
  color:#ff0;
}
