body {
  background: #000;
  color: #FFF;
  font-weight: 300;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 15px;
  text-align: left;
  color: 
}

footer {
  color:#aaa;
}

footer .data{
  color:#ff0;
}

#emotion {
  background:#000;
  width: 300px;
  height: 200px;
}
.eye-black .eye-left, .eye-black .eye-right{
  fill: #333;
}
.eye-blue .eye-left, .eye-blue .eye-right{
  fill: #0feaed;
}
.eye-green .eye-left, .eye-green .eye-right{
  fill: #00f196;
}
.eye-red .eye-left, .eye-red .eye-right{
  fill: #ee296f;
}

#previewPicture.offline{
  border:5px solid red;
}

#previewPicture.online{
  border:5px solid green;
}

#faceScreen{
  transform: scaleY(2) scaleX(1.5) translateY(100px) rotate(90deg);
}

#infoScreen{
  display: none;
}
#previewPicture{
  transform: translateY(500px) rotate(180deg);
}
.info{
  transform: rotate(90deg);
}

 
